@import "./base";
@import "./layout";
@import "./phoenix.css";

.main-header {
  background-color: #505050;
  color: #e3e3e1;
}

.main-header-nav {
  padding: 0 10px;
  &__list {
    display: flex;
    padding: 20px 0;
  }
  &__list-item {
    margin-right: 10px;
  }
}

.blog-drafter {
  display: grid;
  grid-auto-columns: 1fr;

  &__form {
    grid-column-start: 1;
  }

  &__form-field {
    display: grid;
    grid-auto-columns: 1fr;
    margin-bottom: 1rem;
  }

  &__preview {
    grid-column-start: 2;
  }

  &__content-field {
    height: 15rem;
  }
}
