<h1><%= @article.title %></h1>

<p><%= @article.excerpt %></p>

<div>
<%= raw(@article.content) %>
</div>

<%= if !@article.is_live do %>
<button phx-click="publish" phx-value-id="<%= @article.id %>">Publish This Article</button>
<% end %>
